<!--  A user login / authorization prototype to demo that functionality  -->

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>User login/authentication prototype</title>
</head>
<body class="grey lighten-3">

  <!-- NAVBAR -->
  <nav class="z-depth-0 grey lighten-4">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">
        <!-- <img src="uwinnipeg.svg" style="width: 180px; margin-top: 10px;"> -->
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="logged-in">
            <a href="#" class="grey-text modal-trigger" data-target="modal-account">Account</a>
          </li>
          <li class="logged-in">
            <a href="#" class="grey-text" id="logout">Logout</a>
          </li>
          <li class="logged-in">
            <a href="#" class="grey-text modal-trigger" data-target="modal-create">Add Comment</a>
          </li>
          <li class="logged-out">
            <a href="#" class="grey-text modal-trigger" data-target="modal-login">Login</a>
          </li>
          <li class="logged-out">
            <a href="#" class="grey-text modal-trigger" data-target="modal-signup">Sign up</a>
          </li>
      </ul>
    </div>
  </nav>

  <!-- SIGN UP MODAL -->
  <div id="modal-signup" class="modal">
    <div class="modal-content">
      <h4>Sign up</h4><br />
      <form id="signup-form">
        <div class="input-field">
          <input type="email" id="signup-email" required />
          <label for="signup-email">Email address</label>
        </div>
        <div class="input-field">
          <input type="password" id="signup-password" required />
          <label for="signup-password">Choose password</label>
        </div>
        <button class="btn yellow darken-2 z-depth-0">Sign up</button>
      </form>
    </div>
  </div>

  <!-- LOGIN MODAL -->
  <div id="modal-login" class="modal">
    <div class="modal-content">
      <h4>Login</h4><br />
      <form id="login-form">
        <div class="input-field">
          <input type="email" id="login-email" required />
          <label for="login-email">Email address</label>
        </div>
        <div class="input-field">
          <input type="password" id="login-password" required />
          <label for="login-password">Your password</label>
        </div>
        <button class="btn yellow darken-2 z-depth-0">Login</button>
      </form>
    </div>
  </div>

  <!-- ACCOUNT MODAL -->
  <div id="modal-account" class="modal">
    <div class="modal-content center-align">
      <h4>Account details</h4><br />
      <div class="account-details"></div>
    </div>
  </div>

  <!-- USER STATUS -->
  <div id="user-status" style="text-align: right; font-size: 20px; color: #777; margin: 35px 16%">User</div>

  <!-- ADD COMMENT MODAL -->
  <div id="modal-create" class="modal">
    <div class="modal-content">
      <h4>Add Comment</h4><br />
      <form id="create-form">
        <div class="input-field">
          <input type="text" id="title" required>
          <label for="title">Comment Headline</label>
        </div>
        <div class="input-field">
          <textarea id="content" class="materialize-textarea" required></textarea>
          <label for="content">Comment</label>
        </div>
        <button class="btn yellow darken-2 z-depth-0">Add To Journal (NOT YET IMPLEMENTED)</button>
      </form>
    </div>
  </div>

  <!-- GUIDE LIST -->
  <div class="container" style="margin-top: 40px;">
    <ul class="collapsible z-depth-0 guides" style="border: none;">
      <li>
        <div class="collapsible-header grey lighten-4">Comment 1 headline &nbsp(click)</div>
        <div class="collapsible-body white">This is where comment 1 would appear</div>
      </li>
      <li>
        <div class="collapsible-header grey lighten-4">Comment 2 headline</div>
        <div class="collapsible-body white"><span>This is where comment 2 would appear</span></div>
      </li>
      <li>
        <div class="collapsible-header grey lighten-4">Comment 3 headline</div>
        <div class="collapsible-body white"><span>This is where comment 3 would appear</span></div>
      </li>
      <li>
        <div class="collapsible-header grey lighten-4">Comment 4 headline</div>
        <div class="collapsible-body white"><span>This is where comment 4 would appear</span></div>
      </li>
    </ul>
  </div>

  <!-- STATUS MESSAGE -->
  <div class="container" style="padding-top: 160px; font-size: 18px; color: #555;">
    <div class="lighten-4">
      <span>
        Status of this prototype:<br><br>
        User sign up, login (and authentication), and logout are working (using Firebase).<br>
        Still need to finish the account info part.<br>
        We could also do something like this for the comments on each journal...
      </span>
    </div>
  </div>
  
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-firestore.js"></script>

  <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-analytics.js"></script>

  <script>
    // Your web app's Firebase configuration (have to hide this when deploying)
    var firebaseConfig = {
      apiKey: "AIzaSyBMekY70p7nMmjVa155FH2T3bgiPmAoY7Q",
      authDomain: "journalsys-32154.firebaseapp.com",
      databaseURL: "https://journalsys-32154.firebaseio.com",
      projectId: "journalsys-32154",
      storageBucket: "journalsys-32154.appspot.com",  // for files
      appId: "1:525841103465:web:0ca5819197d591922cc0f8",
      measurementId: "G-P1G85SJKNQ"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();

    // make auth and firestore references
    const auth = firebase.auth(); 
    const db = firebase.firestore();

  </script>


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="scripts/auth.js"></script>  <!-- authorization stuff -->
  <script src="scripts/index.js"></script> <!-- DOM manipulation stuff -->
</body>
</html>